body{
    margin:0px;
    padding:0px;

}

.footer {
    left:0;
    bottom: 0;
    padding:20px;
    background-color:#24262b;
    color:white;
    text-align: center;
    border:2px solid #333;
       }

.SocialLogos img{

        width:30px;
        height:30px;
        align-items: center;
      }



.copy{
    text-align: center
    }
.row{
    display:flex;
    flex-wrap:wrap;
}
.colum{
    width:15%;
    padding:0 15px;
}

ul{
    list-style: none;
}


.colum ul li a{

    color:#ffffff;
    text-decoration: none;
    text-align: center;
}



    